.nav{
    background-color: #144984;    
}

.card1{
    margin-bottom: 3rem;
}
.card2{
    padding-top: 30px;    
}

.fecha{
    padding-top: 30px;
    padding-left: 20px;
    color: #ee3123;
     
 }
 